<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise Journal</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
   <body>
    <!-- Page Header -->
    <div class="page-header">
      <!-- Logo -->
      <div id="logo" class="brand">
        <a href="#top">Wilfred Morgan</a>
      </div>
      <!-- Navigation Menu -->
      <nav class="navbar">
        <ul class="navbar-nav">
          <li>
            <a href="/" class="nav-link active home-btn">Home</a>
          </li>
          <li>
            <a href="#add-user" class="nav-link add-user-btn">Add User</a>
          </li>
          <li>
            <a href="#add-exercise" class="nav-link exercise-btn">Add Exercise</a>
          </li>
          <li>
            <a href="#users" class="nav-link users-btn">Users</a>
          </li>
          <li>
            <a href="#journal" class="nav-link journal-btn">View Journal</a>
          </li>
        </ul>
        <!-- Side Navigation Menu (for smaller screens) -->
        <div id="menu-small">
          <span class="menu-title">Menu</span> &#9776;
        </div>
      
      </nav>
    </div>

    <!-- Side Navigation Menu -->
    <div id="side-menu" class="side-nav">
      <div class="form-header">
        <p>
          <a href="#top">Exercise Journal</a>
        </p>
        <i id="close-slide" class="far fa-times-circle"></i>
      </div>
      <hr>
      <a href="/" class="nav-link side-nav-link">Home</a>
      <a href="#add-user" class="nav-link side-nav-link">Add User</a>
      <a href="#add-exercise" class="nav-link side-nav-link">Add Exercise</a>
      <a href="#users" class="nav-link side-nav-link">Users</a>
      <a href="#journal" class="nav-link side-nav-link contact-btn">View Journal</a>
    </div>
    <!-- Home Page -->
    <section id="home">
      <div class="container">
        <h1 id="headline">Exercise Journal</h1>
        <h3 id="subtitle">An online app that records exercise activity</h3>
            <h4 class="section-title">User Stories:</h4>
            <div class="section-text">
              <ol>
                <li>
                   I can create a user by posting form data username to /api/exercise/new-user and returned will be an object with username
                  and _id.
                </li>
                <li>
                   I can get an array of all users by getting api/exercise/users with the same info as when creating a user.
                </li>
                <li>
                   I can retrieve a full exercise log of any user by getting /api/exercise/log with a parameter of userId(_id). App will return
                  the user object with added array log and count (total exercise count).
                </li>
                <li>
                   I can retrieve part of the log of any user by also passing along optional parameters of from & to or limit. (Date format
                  yyyy-mm-dd, limit = int)
                </li>
              </ol>
            </div>
      </div>
    </section>
    
    <div class="container" id="main">
      <!-- Add User -->
      <section id="add-user">
        <div class="container">
          <h3 class="section-title">Create a New User</h3>
          <div class="section-text">
            <p><code>POST /api/exercise/new-user</code></p>
          </div>
          <form action="/api/exercise/new-user" method="post">
            <input id="uname" type="text" name="username" placeholder="username">
            <input type="submit" value="Submit">
          </form>
        </div>
      </section>

      <!-- Add Exercise -->
      <section id="add-exercise">
        <div class="container">
          <h3 class="section-title">Add exercises</h3>
          <div class="section-text">
            <p><code>POST /api/exercise/add</code></p>
          </div>
          <form action="/api/exercise/add" method="post">
            <input id="uid" type="text" name="userId" placeholder="userId*">
            <input id="desc" type="text" name="description" placeholder="description*">
            <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
            <input id="dat" type="date" name="date" placeholder="date (yyyy-mm-dd)">
            <input type="submit" value="Submit">
          </form>
        </div>
      </section>
      
      <!-- List Users -->
      <section id="users">
        <div class="container">
          <h3 class="section-title">List Users</h3>
          <div class="section-text">
            <p></p>
          </div>
          <form action="/api/exercise/users">
            <input type="submit" value="Submit">
          </form>
        </div>
      </section>

      <!-- View Journal -->
      <section id="journal">
        <div class="container">
          <h3 class="section-title">Get User's Exercise Log</h3>
          <div class="section-text">
            <p></p>
          </div>
          <form action="/api/exercise/log">
            <input id="uidlog" type="text" name="userId" placeholder="userId*">
            <input id="fromDat" type="date" name="startDate" placeholder="date (yyyy-mm-dd)">
            <input id="toDat" type="date" name="endDate" placeholder="date (yyyy-mm-dd)">
            <input id="limit" type="number" name="limit" placeholder="limit">
            <input type="submit" value="Submit">
          </form>
        </div>
      </section>
    </div>
      <footer>
        <div class="cta-group">
          <div class="cta-text">
            <p>Need help with your project?</p>
          </div>
          <button id="footer-cta-btn" class="cta-btn contact-btn">CONTACT ME</button>
        </div>
      
        <div class="social-media-group">
          <div class="social-cta">
            <p>Connect with me:</p>
          </div>
          <div class="social-media-icons">
            <a href="https://www.linkedin.com/in/wilfredmorgan/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/wmemorgan" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="#contact" class="contact-btn">
              <i class="fas fa-envelope"></i>
            </a>
          </div>
        </div>
        <div id="copyright-info">
          <p><a href="https://wilfredmorgan.com">wilfredmorgan.com</a></p>
        </div>
      </footer>
    <!-- Custom script -->
    <script src="script.js"></script>
  </body>
</html>
