<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#022140">
    <title>Exercise Tracker API</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
   <body>
    <!-- Page Header -->
    <div class="page-header">
      <!-- Logo -->
      <div id="logo" class="brand">
        <a href="#top">Wilfred Morgan</a>
      </div>
      <!-- Navigation Menu -->
      <nav class="navbar">
        <ul class="navbar-nav">
          <li>
            <a href="#home" class="nav-link active">Home</a>
          </li>
          <li>
            <a href="#add-user" class="nav-link">Add User</a>
          </li>
          <li>
            <a href="#add-exercise" class="nav-link">Add Exercise</a>
          </li>
          <li>
            <a href="#users" class="nav-link">Users</a>
          </li>
          <li>
            <a href="#journal" class="nav-link">View Journal</a>
          </li>
          <li>
            <a href="" class="nav-link reset-btn">Reset</a>
          </li>
        </ul>
        <!-- Side Navigation Menu (for smaller screens) -->
        <div id="menu-small">
          <span class="menu-title">Menu</span> &#9776;
        </div>
      
      </nav>
    </div>

    <!-- Side Navigation Menu -->
    <div id="side-menu" class="side-nav">
      <div class="form-header">
        <p>
          <a href="#top">Exercise Tracker API</a>
        </p>
        <i id="close-slide" class="far fa-times-circle"></i>
      </div>
      <hr>
      <a href="#home" class="nav-link side-nav-link">Home</a>
      <a href="#add-user" class="nav-link side-nav-link">Add User</a>
      <a href="#add-exercise" class="nav-link side-nav-link">Add Exercise</a>
      <a href="#users" class="nav-link side-nav-link">Users</a>
      <a href="#journal" class="nav-link side-nav-link">View Journal</a>
      <a href="" class="nav-link side-nav-link reset-btn">Reset</a>
    </div>
    <!-- Home Page -->
    <section id="intro">
      <div class="container">
        <h1 id="headline">Exercise Tracker Microservice</h1>
        <h3 id="subtitle">A REST API that processes exercise activity</h3>
      </div>
    </section>

    <!-- API Demo Forms  -->
    <div class="container">
    <div class="resp-container">
      <iframe id="formsFrame" class="resp-iframe" src="forms.html" frameborder="0" title="API Demo Forms">
      </iframe>
    </div>
    </div>


    <footer>
      <div class="cta-group">
        <div class="cta-text">
          <p>Need help with your project?</p>
          <p>Reach out to me at
            <a href="mailto:wilfred@wilfredmorgan.com?subject=Question" class="contact-btn">wilfred@wilfredmorgan</a>
          </p>
        </div>
          
      </div>
    
      <div class="social-media-group">
        <div class="social-cta">
          <p>Connect with me:</p>
        </div>
        <div class="social-media-icons">
          <a href="https://www.linkedin.com/in/wilfredmorgan/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/wmemorgan" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:wilfred@wilfredmorgan.com?subject=Question" class="contact-btn">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
      <div id="copyright-info">
        <p><a href="https://wilfredmorgan.com">wilfredmorgan.com</a></p>
      </div>
    </footer>
    <!-- Custom script -->
    <script src="script.js"></script>
  </body>
</html>
